@model Aluno // View tipada, o modelo dessa view é Aluno

<h4>Preencha os dados</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"> @* Ação do formulário apontando para a controller Create de AlunosController*@ 

            <div asp-validation-summary="ModelOnly" class="text-danger"></div> @* Exibir no frontend os erros de validação do formulário que retornaram da controller *@

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label> @* asp-for="Nome" como tipamos nossa view, podemos informar qual atributo vamos usar do nosso modelo *@
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span> @* asp-validation-for="Nome" para validação do dado no frontend conforme nossa especificação da model *@
            </div>

            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmailConfirmacao" class="control-label"></label>
                <input asp-for="EmailConfirmacao" class="form-control" />
                <span asp-validation-for="EmailConfirmacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Avaliacao" class="control-label"></label>
                <input asp-for="Avaliacao" class="form-control" />
                <span asp-validation-for="Avaliacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Ativo" class="form-check-input" />
            </div>

            <input type="submit" value="Enviar" class="btn btn-info" />
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); // Renderizando o script de validação do formulário
    }
}
